*{
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  color: #FFE81F;
  text-decoration:none;
  font-weight:bold;
  text-transform:uppercase;
  font-family:helvetica;
}
.shipsList{
  display: grid;
  border: #FFE81F 2px solid;
  width: 300px;
  height: 200px;
  float:left;
  margin: 80px;
  padding: 50px;
  opacity: 0.75;
  
 
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.4;
}
h1  {
  display: flex;
justify-content: center;
opacity: .4;
}
button{
  padding: 8px 16px;
  opacity: .6;}